* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

.widget-container {
  margin: auto;
  max-width: 740px;
}

.widget-header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  border-bottom: none;
  position: relative;
}

.left-content-header {
  color: #104e93;
  font-size: 15px;
}

.right-content-header {
  font-size: 12px;
}
.widget-header .left-content-header,
.right-content-header {
  text-align: center;
}

.list-wrapper {
  display: flex;
  justify-content: center;
}

.rec-list-item {
  display: flex;
  margin: 0 10px 10px;
}

.rec-item-wrapper {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  width: 10rem;
}

.rec-item-thumbnail {
  height: 6rem;
  width: 10rem;
}

.rec-description-wrapper {
  width: 10rem;
  overflow: hidden;
}

.fade {
  position: relative;
  height: 4rem;
}

.fade:after {
  content: '';
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30%;
  height: 1.2em;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1) 50%
  );
}

.rec-description {
  color: black;
  font-size: 15px;
}

.rec-description:hover {
  color: red;
  font-size: 15px;
}

.rec-publisher {
  color: #888888;
  font-size: 15px;
  margin: 3px 0 0 0;
}

@media only screen and (min-width: 600px) {
  .widget-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 3px solid black;
    width: auto;
  }

  .rec-item-wrapper {
    flex-direction: column;
  }
}
