* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.widget-container {
  margin: auto;
  width: 42%;
}

.widget-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: none;
  position: relative;
}

.widget-header .left-content-header,
.right-content-header {
  text-align: center;
}

.widget-spacer {
  display: flex;
  flex-grow: 5;
}

.list-wrapper {
  display: flex;
  justify-content: center;
}
.widget-container ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}
.widget-container li {
  display: flex;
  margin: 0 10px;
}
.rec-item-wrapper {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  width: 15rem;
}

.rec-item-thumbnail {
  height: 10rem;
  width: 15rem;
}

.rec-description-wrapper {
  width: 15rem;
  overflow: hidden;
}

.fade {
  position: relative;
  height: 6rem;
}

.fade:after {
  content: '';
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 1.2em;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1) 50%
  );
}

.rec-description {
  color: black;
  font-size: 18px;
}

.rec-publisher {
  color: #313131;
}

@media only screen and (min-width: 600px) {
  .widget-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 3px solid black;
    width: auto;
  }

  .rec-item-wrapper {
    flex-direction: column;
  }
}
