* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  --lh: 1.6rem;
  line-height: var(--lh);
}

.widget-container {
  margin: auto;
  width: 42%;
}

.widget-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: none;
  position: relative;
}

.widget-header .left-content-header,
.right-content-header {
  text-align: center;
}

.widget-spacer {
  display: flex;
  flex-grow: 5;
}

.list-wrapper {
  display: flex;
  justify-content: center;
}
.widget-container ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}
.widget-container li {
  display: flex;
  margin: 0 10px;
}
.rec-item-wrapper {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  width: 15rem;
}

.rec-item-thumbnail {
  height: 10rem;
  width: 15rem;
}

.rec-description-wrapper.truncate-overflow {
  --max-lines: 3;
  position: relative;
  max-height: calc(var(--lh) * var(--max-lines));
  overflow: hidden;
  padding-right: 1rem;
}

.rec-description-wrapper.truncate-overflow::before {
  position: absolute;
  content: '...';
  bottom: 0;
  right: 1rem;
  z-index: 1;
}

.rec-description-wrapper.truncate-overflow::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 1rem;
  width: 1rem;
  height: 1rem;
  background: #fff;
  z-index: 0;
}

.rec-description {
  color: black;
  font-size: 18px;
}

.rec-publisher {
  color: #313131;
}

@media only screen and (min-width: 600px) {
  .widget-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 3px solid black;
    width: auto;
  }

  .rec-item-wrapper {
    flex-direction: column;
  }
}
